N8N OCR TESSERACT.json
{
  "name": "N8N OCR KTP TESSERACT",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload KTP",
        "formFields": {
          "values": [
            {
              "fieldLabel": "KTP",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .png, .jpeg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        32,
        32
      ],
      "id": "b153c2b3-d965-4b70-a6e8-c9a35c9aefa4",
      "name": "On form submission",
      "webhookId": "d76f3018-9939-48ef-bee3-3bd1f1524191"
    },
    {
      "parameters": {
        "inputDataFieldName": "KTP",
        "options": {}
      },
      "type": "n8n-nodes-tesseractjs.tesseractNode",
      "typeVersion": 1,
      "position": [
        240,
        32
      ],
      "id": "02f696ef-c06b-41d4-8622-84e460ea029a",
      "name": "Tesseract"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "NIK",
              "description": "NIK dari KTP, 16 angka"
            },
            {
              "name": "Nama",
              "description": "Nama dalam KTP"
            },
            {
              "name": "Tempat/Tgl Lahir",
              "description": "Tempat/Tgl Lahir dari KTP"
            },
            {
              "name": "Jenis Kelamin",
              "description": "Jenis Kelamin dari KTP"
            },
            {
              "name": "Gol. Darah",
              "description": "Gol. Darah dari KTP"
            },
            {
              "name": "Alamat",
              "description": "Alamat dari KTP"
            },
            {
              "name": "RT/RW",
              "description": "RT/RW dari KTP"
            },
            {
              "name": "Kel/Desa",
              "description": "Kel/Desa dari KTP"
            },
            {
              "name": "Kecamatan",
              "description": "Kecamatan dari KTP"
            },
            {
              "name": "Agama",
              "description": "Agama dari KTP"
            },
            {
              "name": "Status Perkawinan",
              "description": "Status Perkawinan dari KTP"
            },
            {
              "name": "Pekerjaan",
              "description": "Pekerjaan dari KTP"
            },
            {
              "name": "Kewarganegaraan",
              "description": "Kewarganegaraan dari KTP"
            },
            {
              "name": "Provinsi",
              "description": "Provinsi dari KTP"
            },
            {
              "name": "Kabupaten",
              "description": "Kabupaten dari KTP"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        448,
        32
      ],
      "id": "2271d0b9-0498-4fd1-8aad-3e7fb553b929",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        240
      ],
      "id": "cc0db690-80d5-45e1-bf82-dcc2d00e708d",
      "name": "OpenRouter Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Tesseract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tesseract": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72cf00d6-da79-48c5-9e01-462ef658c33f",
  "meta": {
    "instanceId": "1024200b7e8c3c096d8941d745808359fc121b702b42a69c3238f5cf99a28bfc"
  },
  "id": "0wm6OaFCMiC6eF6Q",
  "tags": []
}
